.error {
    animation: flikker 1s alternate infinite ease-in-out;
    color: red;
    font-size: 1.1em;
    background-color: lightcoral;
    border: 1px solid red;
    padding: .5rem;
    margin: 1rem 0;
    display: inline-block;
}

@keyframes flikker {
    0%   {opacity: 0.5}
    100% {opacity: 1}
}

body {
    font-family: 'Bangers', cursive;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
}

.header1 {
    animation:
        slideIn 1s forwards ease-out 1,
        accordeon 1s alternate ease-in-out infinite;
    font-size: 2.7rem;
    text-align: center;
    text-shadow: 0 5px 0 #000000;
    color: #ffc537;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

@keyframes slideIn {
    0%   {transform: translateY(-200px); opacity: 0}
    100% {transform: translateY(0); opacity: 1}
}

@keyframes accordeon {
    0%   {letter-spacing: 0}
    100% {letter-spacing: 5px}
}

