.error {
    animation: flikker 1s alternate infinite ease-in-out;
    color: red;
    font-size: 1.1em;
    background-color: lightcoral;
    border: 1px solid red;
    padding: .5rem;
    margin: 1rem 0;
    display: inline-block;
}

@keyframes flikker {
    0%   {opacity: 0.5}
    100% {opacity: 1}
}